html {
  height: 100%;
  font-size: calc(0.9em + 0.75vw);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100%;
  background-color: #204254;
  color: white;
  font-family: "Kalam", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.btn1,
.btn2 {
  cursor: pointer;
  color: white;
  user-select: none;
  display: inline-block;
  padding: 0.5% 1%;
  border: 2px solid white;
  margin: 0 2%;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s;
}

.btn1 {
  padding: 0 1%;
}

.btn1:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #204254;
}

.btn2:hover {
  color: #204254;
  background-color: white;
}

#a-top {
  padding: 1% 3.5%;
}

@media screen and (min-width: 600px) {
  #a-top {
    padding: 0 1%;
  }
}

.title-div {
  position: relative;
  height: 100vh;
  text-align: center;
  background-color: white;
}

.title-img {
  height: 100%;
  background-image: url("https://images.pexels.com/photos/343241/pexels-photo-343241.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

#h1-title {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 2.5em;
}

#p-title {
  position: absolute;
  bottom: 22%;
  right: 10%;
}

#a-title {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#instructions {
  position: relative;
  height: 50%;
  text-align: center;
  background-color: black;
  background-image: linear-gradient(to bottom right, #b94a3e 15%, #204254);
  color: white;
}

.instruction-div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .instruction-div {
    flex-direction: row;
  }
}

.instruct {
  padding: 2% 5%;
  letter-spacing: 2px;
  border: 5px solid white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  user-select: none;
  transition: all 0.5s;
}

.instruct:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

#navbar {
  overflow: hidden;
  height: 12%;
  background-color: #121b22;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  #navbar {
    justify-content: flex-start;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #download-form {
  padding: 7% 1%;
}

#download-form {
  padding: 2% 1%;
  column-count: 1;
}

@media screen and (min-width: 600px) {
  #download-form {
    column-count: 2;
    column-gap: 1em;
  }
}

@media screen and (min-width: 992px) {
  #download-form {
    column-count: 3;
  }
}

#submit-download-btn {
  z-index: 10;
}

.image-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #121b22;
}

.image-container:hover .image-overlay {
  opacity: 0.75;
}

.info-div {
  background-color: #b94a3e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  padding: 12px;
  text-align: center;
  max-width: 85%;
  min-width: 80%;
}

.info-title,
.info-desc {
  padding-bottom: 1%;
}

.info-title {
  font-size: 1.25em;
  font-weight: 700;
}

.info-desc {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 95%;
}

.info-created {
  font-size: 0.75em;
  font-weight: 700;
}

.image-container {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.image-container input {
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  height: 30px;
  width: 30px;
}

.image-container .checkbox-custom {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
}

.image-container .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 15px;
  top: 15px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid blue;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

.image-container input:checked ~ .checkbox-custom {
  background-color: white;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid white;
}

.image-container input:checked ~ .checkbox-custom:after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 10px;
  top: 2px;
  width: 9px;
  height: 16px;
  border: solid #b94a3e;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.select-box-hide {
  display: none;
}

#a-top {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.hide-to-top {
  display: none;
}
